[submodule "Plugins/InteractionSystem"]
	path = Plugins/InteractionSystem
	url = https://github.com/Ji-Rath/UEInteractSystem
[submodule "Plugins/DlgSystem"]
	path = Plugins/DlgSystem
	url = https://github.com/NotYetGames/DlgSystem
